postgresql/.env
your_spotify/your_spotify_db
jellyfin/.env
postgresql/sqls
your_spotify/.env
homarr/data
jellyfin/jellyfin_config/cache
jellyfin/jellyfin_config/data
jellyfin/jellyfin_config/log
jellyfin/jellyseerr_config/db
jellyfin/jellyseerr_config/logs
postgresql/pgdata
prowlarr/config/logs
prowlarr/config/logs.db
prowlarr/config/logs.db-shm
prowlarr/config/logs.db-wal
prowlarr/config/prowlarr.db
prowlarr/config/prowlarr.pid
radarr/config/logs
radarr/config/asp
prowlarr/config/asp
radarr/config/logs.db
radarr/config/radarr.db
radarr/config/radarr.db-shm
radarr/config/radarr.db-wal
radarr/config/radarr.pid
sonarr/config/.config/.mono/keypairs
sonarr/config/logs
sonarr/config/logs.db
sonarr/config/logs.db-shm
sonarr/config/logs.db-wal
sonarr/config/sonarr.db
sonarr/config/sonarr.db-shm
sonarr/config/sonarr.db-wal
sonarr/config/sonarr.pid
syncthing/st-sync/config
