big-agi/.env
cloudflared/.env
coder/config
coder/workspace
coder/.env
immich/.env
jellyfin/jellyfin_config
jellyfin/jellyseerr_config
jellyfin/.env
paperless-ngx/data
paperless-ngx/media
paperless-ngx/redisdata
paperless-ngx/docker-compose.env
pgadmin/.env
qbittorrent/config/qBittorrent
servarr/bazarr/config
servarr/lidarr/config
servarr/prowlarr/config
servarr/radarr/config
servarr/sonarr/config
tubesync/config
