big-agi/.env
cloudflared/.env
coder/config
coder/workspace
coder/.env
immich/.env
jellyfin/jellyfin_config
jellyfin/jellyseerr_config
jellyfin/.env
paperless-ngx/data
paperless-ngx/media
paperless-ngx/redisdata
paperless-ngx/docker-compose.env
pgadmin/.env
qbittorrent/config/qBittorrent
servarr/bazarr/config
servarr/lidarr/config
servarr/prowlarr/config
servarr/radarr/config
servarr/sonarr/config
tubesync/config
nginx-proxy-manager/data
nginx-proxy-manager/letsencrypt
servarr/homarr/configs
servarr/homarr/data
freshrss/freshrss_data
mcbedrock/data
mcbedrock/Minecraft_Bedrock_Launcher-x86_64-v1.1.1.802.AppImage
postgres/.env
your_spotify/your_spotify_db
your_spotify/.env
hoarder/data
hoarder/meilisearch/data.ms
hoarder/.env
immich/pgdata
minecraft/data
mysql/mysql_data
postiz/.env
sheepit/.env
tailscale/.env
openwebui/ollama-data
openwebui/open-webui-data
openwebui/.env
postgres/sqls
postiz/postiz-redis-data
tailscale/ts/state
/hermes/.env
/hermes/data
/immich_machine_learning/.env
/immich_machine_learning/pgdata
/lavalink/plugins
/navidrome/.env
/navidrome/navidrome-data
/pgadmin/pgadmin-data
/pgadmin/pgadmin-sessions
/piston/data/piston/packages
/postgres/pgdata_bak
/rustfs/.env
/rustfs/volumes/data
/stirling_pdf/extraConfigs
/stirling_pdf/logs
/stirling_pdf/pipeline/defaultWebUIConfigs
/stirling_pdf/trainingData
